In [3]:
import pandas as pd
import numpy as np

In [51]:
transactions_data = pd.read_csv('transactions.csv', index_col = 0)
clients_data = pd.read_csv('clients.csv', header = 0)
materials_data = pd.read_csv('materials.csv', header = 0)
plants_data = pd.read_csv('plants.csv', header = 0)

/home/markov/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [52]:
transactions_data.head() #.head(3)

,chq_id,plant,chq_date,chq_position,client_id,material,sales_count,sales_sum,is_promo
0,ce5b3d1c531348c5d0d8e859b6d0cf91,7cd86ecb09aa48c6e620b340f6a74592,2016-11-01,4,90fca68123e692a005a4edeadd94b2f2,232cfe8b28970434f685b737737b26d4,2.0,146.98,0
1,ce5b3d1c531348c5d0d8e859b6d0cf91,7cd86ecb09aa48c6e620b340f6a74592,2016-11-01,3,90fca68123e692a005a4edeadd94b2f2,12ec64451b8e426db16f3f05ea770901,1.0,249.99,1
2,ce5b3d1c531348c5d0d8e859b6d0cf91,7cd86ecb09aa48c6e620b340f6a74592,2016-11-01,12,90fca68123e692a005a4edeadd94b2f2,1212ff8ecf53aebef093ca8ae216db68,1.0,47.99,1
3,ce5b3d1c531348c5d0d8e859b6d0cf91,7cd86ecb09aa48c6e620b340f6a74592,2016-11-01,13,90fca68123e692a005a4edeadd94b2f2,1212ff8ecf53aebef093ca8ae216db68,1.0,47.99,1
4,ce5b3d1c531348c5d0d8e859b6d0cf91,7cd86ecb09aa48c6e620b340f6a74592,2016-11-01,11,90fca68123e692a005a4edeadd94b2f2,571c6d3b559db8445e05265649eb30ab,2.0,53.98,1

In [11]:
freq = transactions_data.groupby(['client_id','material']).count()
freq

                                                                   Unnamed: 0  \
client_id                        material
0000d48a8891cd462fdf01ea861ec53e 0035c505fea20479301f4eefbbeb9dfe           1
                                 00a84aa181787e5c6c066e4893101eff           1
                                 00c5d51c9029b72cfe32b3935f4685ac           1
                                 022b4e269fa2471dcb53a8fdb3d7012a           1
                                 03d7d45eadbe0d766de12bf1b9e46326           1
...                                                                       ...
fffd3e78e3ea6bf00aee1372efc09dad c4e18a3b0479e5ce5fc1ca34ebe1e025           1
                                 ccb92be59ce7e5f3371b0dea5e871a9b           1
                                 dd66f8641179a8a80a96de9d04474d5f           1
                                 e89e34f478fbc99946179da50461eb00           1
                                 f27d1e86a3fdddc3efea8d9b460376aa           1

                                                                   chq_id  \
client_id                        material
0000d48a8891cd462fdf01ea861ec53e 0035c505fea20479301f4eefbbeb9dfe       1
                                 00a84aa181787e5c6c066e4893101eff       1
                                 00c5d51c9029b72cfe32b3935f4685ac       1
                                 022b4e269fa2471dcb53a8fdb3d7012a       1
                                 03d7d45eadbe0d766de12bf1b9e46326       1
...                                                                   ...
fffd3e78e3ea6bf00aee1372efc09dad c4e18a3b0479e5ce5fc1ca34ebe1e025       1
                                 ccb92be59ce7e5f3371b0dea5e871a9b       1
                                 dd66f8641179a8a80a96de9d04474d5f       1
                                 e89e34f478fbc99946179da50461eb00       1
                                 f27d1e86a3fdddc3efea8d9b460376aa       1

                                                                   plant  \
client_id                        material
0000d48a8891cd462fdf01ea861ec53e 0035c505fea20479301f4eefbbeb9dfe      1
                                 00a84aa181787e5c6c066e4893101eff      1
                                 00c5d51c9029b72cfe32b3935f4685ac      1
                                 022b4e269fa2471dcb53a8fdb3d7012a      1
                                 03d7d45eadbe0d766de12bf1b9e46326      1
...                                                                  ...
fffd3e78e3ea6bf00aee1372efc09dad c4e18a3b0479e5ce5fc1ca34ebe1e025      1
                                 ccb92be59ce7e5f3371b0dea5e871a9b      1
                                 dd66f8641179a8a80a96de9d04474d5f      1
                                 e89e34f478fbc99946179da50461eb00      1
                                 f27d1e86a3fdddc3efea8d9b460376aa      1

                                                                   chq_date  \
client_id                        material
0000d48a8891cd462fdf01ea861ec53e 0035c505fea20479301f4eefbbeb9dfe         1
                                 00a84aa181787e5c6c066e4893101eff         1
                                 00c5d51c9029b72cfe32b3935f4685ac         1
                                 022b4e269fa2471dcb53a8fdb3d7012a         1
                                 03d7d45eadbe0d766de12bf1b9e46326         1
...                                                                     ...
fffd3e78e3ea6bf00aee1372efc09dad c4e18a3b0479e5ce5fc1ca34ebe1e025         1
                                 ccb92be59ce7e5f3371b0dea5e871a9b         1
                                 dd66f8641179a8a80a96de9d04474d5f         1
                                 e89e34f478fbc99946179da50461eb00         1
                                 f27d1e86a3fdddc3efea8d9b460376aa         1

                                                                   chq_position  \
client_id                        material
0000d48a8891cd462fdf01ea861ec53e 0035c505fea20479301f4eefbbeb9dfe             1
                                 00a84aa181787e5c6c066e4893101eff             1
                                 00c5d51c9029b72cfe32b3935f4685ac             1
                                 022b4e269fa2471dcb53a8fdb3d7012a             1
                                 03d7d45eadbe0d766de12bf1b9e46326             1
...                                                                         ...
fffd3e78e3ea6bf00aee1372efc09dad c4e18a3b0479e5ce5fc1ca34ebe1e025             1
                                 ccb92be59ce7e5f3371b0dea5e871a9b             1
                                 dd66f8641179a8a80a96de9d04474d5f             1
                                 e89e34f478fbc99946179da50461eb00             1
                                 f27d1e86a3fdddc3efea8d9b460376aa             1

                                                                   sales_count  \
client_id                        material
0000d48a8891cd462fdf01ea861ec53e 0035c505fea20479301f4eefbbeb9dfe            1
                                 00a84aa181787e5c6c066e4893101eff            1
                                 00c5d51c9029b72cfe32b3935f4685ac            1
                                 022b4e269fa2471dcb53a8fdb3d7012a            1
                                 03d7d45eadbe0d766de12bf1b9e46326            1
...                                                                        ...
fffd3e78e3ea6bf00aee1372efc09dad c4e18a3b0479e5ce5fc1ca34ebe1e025            1
                                 ccb92be59ce7e5f3371b0dea5e871a9b            1
                                 dd66f8641179a8a80a96de9d04474d5f            1
                                 e89e34f478fbc99946179da50461eb00            1
                                 f27d1e86a3fdddc3efea8d9b460376aa            1

                                                                   sales_sum  \
client_id                        material
0000d48a8891cd462fdf01ea861ec53e 0035c505fea20479301f4eefbbeb9dfe          1
                                 00a84aa181787e5c6c066e4893101eff          1
                                 00c5d51c9029b72cfe32b3935f4685ac          1
                                 022b4e269fa2471dcb53a8fdb3d7012a          1
                                 03d7d45eadbe0d766de12bf1b9e46326          1
...                                                                      ...
fffd3e78e3ea6bf00aee1372efc09dad c4e18a3b0479e5ce5fc1ca34ebe1e025          1
                                 ccb92be59ce7e5f3371b0dea5e871a9b          1
                                 dd66f8641179a8a80a96de9d04474d5f          1
                                 e89e34f478fbc99946179da50461eb00          1
                                 f27d1e86a3fdddc3efea8d9b460376aa          1

                                                                   is_promo
client_id                        material
0000d48a8891cd462fdf01ea861ec53e 0035c505fea20479301f4eefbbeb9dfe         1
                                 00a84aa181787e5c6c066e4893101eff         1
                                 00c5d51c9029b72cfe32b3935f4685ac         1
                                 022b4e269fa2471dcb53a8fdb3d7012a         1
                                 03d7d45eadbe0d766de12bf1b9e46326         1
...                                                                     ...
fffd3e78e3ea6bf00aee1372efc09dad c4e18a3b0479e5ce5fc1ca34ebe1e025         1
                                 ccb92be59ce7e5f3371b0dea5e871a9b         1
                                 dd66f8641179a8a80a96de9d04474d5f         1
                                 e89e34f478fbc99946179da50461eb00         1
                                 f27d1e86a3fdddc3efea8d9b460376aa         1

[20118398 rows x 8 columns]

In [12]:
clientmat_count = transactions_data.loc[:,['client_id','material','sales_count']]
a = clientmat_count.groupby(['client_id','material']).sum()
g = a['sales_count'].groupby(level=0, group_keys=False)
res = g.apply(lambda x: x.sort_values(ascending=False).head(1))
res # the most frequent item for each customer

client_id                         material
0000d48a8891cd462fdf01ea861ec53e  254f1eba1181248807d128842b566bf9     76.000
00028a1dcb30863404a386961a69300e  b75147feae4cf8ec07fb5f2cef855def     43.000
0004274683494a9eca5e70ef97299d55  6eaa9bd12a43a4d79badd51a62ac3d76     84.000
00072f81efcb3481861f7300c5e2a88a  29f1a40e5f2df9968c5f7430d3891bf4     10.000
00076596eb749cf10c2e984621dffe95  6278f48a43fb0a23036b3a11c92e726c    198.954
                                                                       ...
fffb2f36eb72ff56d2ef7a2685714f01  142d63107737a448dc2dfe2dcd0154b8     27.000
fffb50df95231c0f090b5aa3f5332c7f  0630c162a89ae0a9e4aa379a574a3158     16.690
fffc3f2be1422d248dbeda4196ef0711  8b682bcb4f749727567ba031cd7fcc36     46.000
fffc477269ae5f219e39aa51fa7abb81  5bb4a399ac4f74d07248fa123e3f3237     24.000
fffd3e78e3ea6bf00aee1372efc09dad  00fe8d0e1338dadc7038bf0434468cfb      2.000
Name: sales_count, Length: 100000, dtype: float64

In [19]:
new_res = pd.DataFrame(res)

In [21]:
new_res = new_res.reset_index()

In [22]:
new_res.head()

,client_id,material,sales_count
0,0000d48a8891cd462fdf01ea861ec53e,254f1eba1181248807d128842b566bf9,76.000
1,00028a1dcb30863404a386961a69300e,b75147feae4cf8ec07fb5f2cef855def,43.000
2,0004274683494a9eca5e70ef97299d55,6eaa9bd12a43a4d79badd51a62ac3d76,84.000
3,00072f81efcb3481861f7300c5e2a88a,29f1a40e5f2df9968c5f7430d3891bf4,10.000
4,00076596eb749cf10c2e984621dffe95,6278f48a43fb0a23036b3a11c92e726c,198.954

In [13]:
dates = np.array(transactions_data.chq_date.unique())
print(len(dates))

366

In [25]:
b =  res.index.get_level_values('material')
freq_materials = b.tolist()
print(type(freq_materials))
print(len(freq_materials))
fav_items = []
for i in freq_materials:
    if i not in fav_items: 
        fav_items.append(i) 
print(len(fav_items))#get the number of unique favorite items for customers (?)

<class 'list'>
100000
12038

In [46]:
import time
start = time.time()
for i in range(10):
    a = transactions_data.loc[i].at['material']
    b = transactions_data.loc[i].at['chq_date']
    c = fav_items[i]
    d = dates[i]
    e = a == c
    g = b == d
end = time.time()
meantime = (end - start)/10

In [49]:
print("Код будет выполняться {:.2f} часов".format(meantime * len(dates)*len(fav_items)*32109414/60/60))

Код будет выполняться 15522993.82 часов

In [37]:
start = time.time()

a = transactions_data.loc[i].at['material']
b = transactions_data.loc[i].at['chq_date']
c = fav_items[i]
d = dates[i]
e = a == c
g = b == d
end = time.time()
print(end - start)

0.0009691715240478516

In [15]:
data_array = [[0] * len(dates) for i in range(len(fav_items))]
for i in range(len(fav_items)):
    for j in range(len(dates)):
        for k in range(32109414):
            if fav_items[i]==transactions_data.loc[k].at['material'] and dates[j]==transactions_data.loc[k].at['chq_date']:
                data_array[i][j] = data_array[i][j] + transactions_data.loc[k].at['sales_sum'].item()
data_array

KeyboardInterrupt:

## most popular stuff

In [98]:
def get_hash(frame):
    a = frame.iloc[:, 0]
    b = frame.iloc[:, 1]
    return dict([(i, j) for i, j in zip(a, b)])

In [53]:
new_res.head()

,client_id,material,sales_count
0,0000d48a8891cd462fdf01ea861ec53e,254f1eba1181248807d128842b566bf9,76.000
1,00028a1dcb30863404a386961a69300e,b75147feae4cf8ec07fb5f2cef855def,43.000
2,0004274683494a9eca5e70ef97299d55,6eaa9bd12a43a4d79badd51a62ac3d76,84.000
3,00072f81efcb3481861f7300c5e2a88a,29f1a40e5f2df9968c5f7430d3891bf4,10.000
4,00076596eb749cf10c2e984621dffe95,6278f48a43fb0a23036b3a11c92e726c,198.954

In [54]:
ctom = {new_res.iloc[i, 0]: new_res.iloc[i, 1] for i in range(new_res.shape[0])}

In [59]:
new_res.shape

(100000, 3)

In [58]:
clients_data.shape

(99995, 4)

In [60]:
trans = pd.read_csv('transactions.csv', index_col = 0)

/home/markov/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [61]:
trans.head()

,chq_id,plant,chq_date,chq_position,client_id,material,sales_count,sales_sum,is_promo
0,ce5b3d1c531348c5d0d8e859b6d0cf91,7cd86ecb09aa48c6e620b340f6a74592,2016-11-01,4,90fca68123e692a005a4edeadd94b2f2,232cfe8b28970434f685b737737b26d4,2.0,146.98,0
1,ce5b3d1c531348c5d0d8e859b6d0cf91,7cd86ecb09aa48c6e620b340f6a74592,2016-11-01,3,90fca68123e692a005a4edeadd94b2f2,12ec64451b8e426db16f3f05ea770901,1.0,249.99,1
2,ce5b3d1c531348c5d0d8e859b6d0cf91,7cd86ecb09aa48c6e620b340f6a74592,2016-11-01,12,90fca68123e692a005a4edeadd94b2f2,1212ff8ecf53aebef093ca8ae216db68,1.0,47.99,1
3,ce5b3d1c531348c5d0d8e859b6d0cf91,7cd86ecb09aa48c6e620b340f6a74592,2016-11-01,13,90fca68123e692a005a4edeadd94b2f2,1212ff8ecf53aebef093ca8ae216db68,1.0,47.99,1
4,ce5b3d1c531348c5d0d8e859b6d0cf91,7cd86ecb09aa48c6e620b340f6a74592,2016-11-01,11,90fca68123e692a005a4edeadd94b2f2,571c6d3b559db8445e05265649eb30ab,2.0,53.98,1

In [63]:
moni = trans.loc[:, ['chq_id', 'sales_sum']]

In [64]:
moni.head()#checks to

                             chq_id  sales_sum
0  ce5b3d1c531348c5d0d8e859b6d0cf91     146.98
1  ce5b3d1c531348c5d0d8e859b6d0cf91     249.99
2  ce5b3d1c531348c5d0d8e859b6d0cf91      47.99
3  ce5b3d1c531348c5d0d8e859b6d0cf91      47.99
4  ce5b3d1c531348c5d0d8e859b6d0cf91      53.98

In [65]:
moni = moni.groupby('chq_id').agg('sum').reset_index()

In [ ]:
dmoni = get_hash(moni)#dict of checks to total money

In [66]:
moni.head()

                             chq_id  sales_sum
0  00000391443926003b45cebac9a4c0b2      164.0
1  0000086694a97b18d2b5e5cfc309ab76      821.0
2  00000b7bb8fd947f62aeed1bba4b6fbb      326.0
3  00000d5d627d67cacb2ba17705635ca7     1713.0
4  000010ba9e98d7316de3a8a862fc2d49     2032.0

What we need:
1. Checks to total money - DONE dmoni
2. Users to favorite item - DONE ctom 
3. Checks to users. - DONE cltoch
4. Checks to items. - DONE ctoi

In [92]:
clch = trans.loc[:, ['chq_id', 'client_id']]

In [150]:
clch.head()

                             chq_id                         client_id
0  ce5b3d1c531348c5d0d8e859b6d0cf91  90fca68123e692a005a4edeadd94b2f2
1  ce5b3d1c531348c5d0d8e859b6d0cf91  90fca68123e692a005a4edeadd94b2f2
2  ce5b3d1c531348c5d0d8e859b6d0cf91  90fca68123e692a005a4edeadd94b2f2
3  ce5b3d1c531348c5d0d8e859b6d0cf91  90fca68123e692a005a4edeadd94b2f2
4  ce5b3d1c531348c5d0d8e859b6d0cf91  90fca68123e692a005a4edeadd94b2f2

In [99]:
cltoch = get_hash(clch)

In [103]:
chit = trans.loc[:, ['chq_id', 'material']]

In [104]:
chit.head()

                             chq_id                          material
0  ce5b3d1c531348c5d0d8e859b6d0cf91  232cfe8b28970434f685b737737b26d4
1  ce5b3d1c531348c5d0d8e859b6d0cf91  12ec64451b8e426db16f3f05ea770901
2  ce5b3d1c531348c5d0d8e859b6d0cf91  1212ff8ecf53aebef093ca8ae216db68
3  ce5b3d1c531348c5d0d8e859b6d0cf91  1212ff8ecf53aebef093ca8ae216db68
4  ce5b3d1c531348c5d0d8e859b6d0cf91  571c6d3b559db8445e05265649eb30ab

In [107]:
material_list = list(chit.material)

In [109]:
leng = len(material_list)
for i in range(leng):
    material_list[i] = [material_list[i]]

In [111]:
chit['material'] = material_list

In [115]:
fav_items = set(list(ctom.values()))

In [131]:
newtrans = trans.loc[:, ['chq_id', 'material']]

In [132]:
ntrans = trans.loc[:, ['chq_id', 'material']].groupby('chq_id')

In [119]:
all_items = set(list(trans['material']))

In [122]:
bad_items = all_items - fav_items

In [137]:
newtrans = newtrans[newtrans['material'].map(lambda x: x in bad_items)]

In [138]:
newtrans.shape

(11365584, 2)

In [139]:
newtrans.head()

                              chq_id                          material
1   ce5b3d1c531348c5d0d8e859b6d0cf91  12ec64451b8e426db16f3f05ea770901
10  ce5b3d1c531348c5d0d8e859b6d0cf91  33fa1fd7d0c11ccde404416d63e9b50a
11  ce5b3d1c531348c5d0d8e859b6d0cf91  ada84ea081d5d3c919dc12a5bdde904e
19  37d1f3b79bae03f8d3c279436139251e  cb417f3cdb4d49d3f2104dcc454d8575
20  37d1f3b79bae03f8d3c279436139251e  5633212556428cd4d47c2c9aace28381

In [141]:
checks = list(set(newtrans['chq_id']))

In [140]:
newtransg = newtrans.groupby('chq_id')

In [146]:
ctoi = newtransg['material'].apply(set).to_dict()

now just a small cycle

What we need:
1. Checks to total money - DONE dmoni
2. Users to favorite item - DONE ctom 
3. Checks to users. - DONE cltoch
4. Checks to items. - DONE ctoi

In [158]:
total = sum(list(dmoni.values()))

In [152]:
total_loss = 0
for check in checks:
    us = cltoch[check]
    purch = ctoi[check]
    fav = ctom[us]
    if fav not in purch:
        total_loss += dmoni[check]

In [157]:
print(total_loss)

3738672441.210118

In [159]:
total_loss/total

0.9474999633047577

## by year sum

In [160]:
# sort by year sum - NEW
clientmat_sum = transactions_data.loc[:,['client_id','material','sales_sum']]
n = clientmat_sum.groupby(['client_id','material']).sum()

In [161]:
m = n['sales_sum'].groupby(level=0, group_keys=False)
ress = m.apply(lambda x: x.sort_values(ascending=False).head(1))
ress # the most expensive item within a year for each customer

client_id                         material
0000d48a8891cd462fdf01ea861ec53e  254f1eba1181248807d128842b566bf9     3429.98
00028a1dcb30863404a386961a69300e  f4a21669aa5b022fbf7283a6f87b8ef9     2027.21
0004274683494a9eca5e70ef97299d55  ba54c7d001d4bb0627e1d1b688dbea25     4047.09
00072f81efcb3481861f7300c5e2a88a  a6bf08b37ae336044b9af3826cb50429      989.64
00076596eb749cf10c2e984621dffe95  6278f48a43fb0a23036b3a11c92e726c    10637.55
                                                                        ...
fffb2f36eb72ff56d2ef7a2685714f01  83636e1388222368230b84427f368321     4151.95
fffb50df95231c0f090b5aa3f5332c7f  753e100607ecf3e68098739b81e0a645      805.25
fffc3f2be1422d248dbeda4196ef0711  95237d664ede7d510294b5090dd2b0af     6149.16
fffc477269ae5f219e39aa51fa7abb81  08cc0fb581c8193229f420ad4557d3f1     5983.06
fffd3e78e3ea6bf00aee1372efc09dad  ccb92be59ce7e5f3371b0dea5e871a9b      304.81
Name: sales_sum, Length: 100000, dtype: float64

In [162]:
d =  ress.index.get_level_values('material')
exp_materials = d.tolist()
type(exp_materials)
print(len(exp_materials))
new_fav_items = []
for i in exp_materials:
    if i not in new_fav_items: 
        new_fav_items.append(i) 
print(len(new_fav_items))

100000
18418